<html>
    <head>
        <title>BlindWine</title>
        <link rel="stylesheet" href="../../static/myyeti.bootstrap.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    </head>
    <body>
        <h1> </h1>
        <h1>Welcome to Tasty!</h1>
        {% for error in form.name.errors %}
            <li style="color:red;">{{ error }}</li>
        {% endfor %}
        <form method="POST" action="{{ url_for('index') }}">
            {{ form.csrf_token }}
            {{ form.name.label }}
            {{ form.name }}<br>
            
            {{ form.bottle.label }}
            {{ form.bottle }}<br>
            
            {{ form.submit }}
        </form>
    </body>
</html>